body {
    background-color: #43853d;
    color: black;
    font-family: 'Consolas';
    min-height: 100%;
    margin: 0;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    display: block;
    font-size: 100px;
}

img {
    display: block;
}